html {
    background-image: linear-gradient(to bottom right, red, rgb(4, 0, 255));
    background-repeat: no-repeat;
}

body {
    box-sizing: border-box;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: transparent;
}

a {
    padding-left: inherit;
}

.container {
    margin: 0 auto;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}

.form-card {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 50px;
    border-radius: 15px;
}

.login-form h2 {
    margin: 0 0 15px;
}

.form-control,
.btn {
    min-height: 38px;
    border-radius: 15px;
}

.btn {
    font-size: 15px;
    font-weight: bold;
    float: right;
}

.bg-light {
    background-color: transparent;
}

.form-group {
    margin-bottom: 3rem;
}

.card {
    margin-bottom: 2rem;
    margin-left: 1rem;
}

main {
    width: 80%;
    margin: 0 auto;
}

.navbar-nav {
    margin-left: auto;
}

.containor {
    width: 50%;
    margin: 0 auto;
    padding: 30px;
}

.containor h3 {
    color: white;
}